body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #97c1e9;
    padding: 20px 20px 20px 20px;
    text-align: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
}

input, select {
    margin-top: 5px;
    margin-bottom: 10px;
    padding: 0.3em;
    border-radius: 5px;
    border: 1px solid #ccc;
    width: 75%;
    height: 2.5em;
    font-size: 1em;
}

input[type=date] {
    min-height: 2.2em;
}